<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Go Info</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <h1>Pokemon Go Info</h1>
        <h3>Enter the name of a pokemon to find info about it. The info include it's National pokedex ID, base attack, base defence, base stamina.</h3>
        <form action="" method="get">
            <input type="text" placeholder="Pokemon">
            <button type="submit">Search</button>
        </form>
        <h2 id="name"></h2>
        <p id="pokemon_id"></p>
        <p id="attack"></p>
        <p id="defence"></p>
        <p id="stamina"></p>
    </div>
    <footer>
        <p>Created by Abishek</p>
    </footer>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>